/* Film.css */

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}


.cards div:empty {
    /*background-color: red !important;*/
	display: none !important;
}


.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: absolute;
	top: 20px;
}

.pageTitle {
	font-size: 48px;
	/* Taille de police plus grande */
	color: white;
	margin: 0;
}

.backButton {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 30px;
	/* Taille de bouton plus grande */
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	/* Taille de police plus grande */
	cursor: pointer;
	border-radius: 8px;
	transition: background-color 0.3s ease;
	margin-left: 20px;
	/* Espace entre le titre et le bouton */
}

.backButton:hover {
	background-color: #45a049;
}

.cards {
	padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 1025px) {
    .cards {
        grid-template-columns: repeat(3, 1fr) !important;
        padding-left: 15px; /* Ajusté les espacements pour les petites tailles */
        padding-right: 15px;
    }
}


@media (max-width: 600px) {
    .cards {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}
.card {
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 16px;
	width: 200px;
	/* Largeur fixe pour chaque carte */
	margin: 8px;
	position: absolute;

}
